/**
 * Responsive Partial
 *
 */

// Have breakpoint convert to ems for better accessibility
$breakpoint-to-ems: true;
$breakpoint-default-feature: max-width;

// Breakpoint Vars

// existing design is fixed with header at 1042 and main at 1020
$non-desktop: 1064px;
$small: 767px;
$mobile-menu: 665px;

// response specific mixins
@mixin fix-col-images {
  @include breakpoint($small) {
    a {
      display: flex;
      align-items: center;
    }

    img {
      margin: 0 auto;
    }
  }
}

$vert-col-border-style: 1px dashed white;
@mixin vertical-col-borders {
  .column {
    border-bottom: $vert-col-border-style;
  }
}


// styles

@include breakpoint($non-desktop) {
  #header {
    background: url(/sites/all/themes/apa/images/woodbar.png);
    min-height: 68px;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    z-index: 3;
    position: relative;
  }

  #menubar {
    display: none;
  }

  #logozone, #woodceiling #woodceiling-inner,
  #block-system-main-menu {
    width: 100%;
  }

  #main {
    margin-top: -2rem;
    width: 96%;
  }
}

@include breakpoint(980px) {
  #logozone {
    height: 155px;

    #ribbon, & > .apa-link {
      display: none;
    }

    div.namewrapper {
      padding-top: 45px;
    }
  }
}

@include breakpoint($small) {

  h2 {
    text-align: center;
  }

  .columnwrapper {
    .column {
      width: 100%;
      text-align: center;

      margin: .5rem 0 !important;
    }

    &.text {
      padding-bottom: 0;

      h2 {
        margin: 0.4em auto 0;
      }

      .column {
        text-align: initial;
      }
    }

    &.testimonials, &.trio {
      @include vertical-col-borders;
    }

    &.trio {
      @include fix-col-images;
    }
  }


}

@include breakpoint($mobile-menu) {

  #woodceiling {
    height: auto;
    position: relative;
    background-size: cover;

    #woodceiling-inner .facebook-find {
      position: initial;
      text-align: center;
    }
  }

  #logozone div.namewrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.apa-footer {
  @include breakpoint($non-desktop) {
    width: 98%;
  }

  @include breakpoint($small) {
    padding: 0 1rem;
  }

  @include breakpoint(690px) {
    background-size: cover;

    .three-column {
      width: 100%;
      text-align: center;
    }
  }
}

// education page
.page-node-9 {
  .columnwrapper.text {
    @include fix-col-images;

    @include breakpoint($small) {
      @include vertical-col-borders;

      h2 a {
        text-align: center;
        display: inline-block;
      }
    }
  }
}

// featured articles block
#block-views-featured-article-block {
  @include breakpoint(540px) {
    .view-featured-article .views-row {
      width: 100%;
      border-bottom: $vert-col-border-style;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
}

// maps/forms page
.page-node-26 {
  iframe#googlemap {
    margin-bottom: 2rem;
  }

  @include breakpoint($small) {
    h1 {
      text