/**
 * Responsive Partial
 *
 */

// Have breakpoint convert to ems for better accessibility
$breakpoint-to-ems: true;
$breakpoint-default-feature: max-width;

// Breakpoint Vars

// existing design is fixed with header at 1042 and main at 1020
$non-desktop:  1064px;
$small:        767px;
$mobile-menu:  665px;
$mobile-small: 420px;

$responsive-width: 96%;
$apa-border-radius: 10px;

// page class vars
$dr-berry-page:     '.page-node-2';
$staff-page:        '.page-staff';
$services-page:     '.page-node-8';
$testimonials-page: '.page-node-7';
$education-page:    '.page-node-9';
$about-page:        '.page-node-25';
$maps-page:         '.page-node-26';
$feedback-page:     '.page-node-35';

// response specific mixins
@mixin fix-col-images {
  @include breakpoint($small) {
    a {
      display: flex;
      align-items: center;

      // added wrapper to fix streching img issue in FF
      div {
        width: 100%;
        text-align: center;
      }
    }

    img {
      margin: 0 auto;
    }
  }
}

$vert-col-border-style: 1px dashed white;
@mixin vertical-col-borders {
  .column {
    border-bottom: $vert-col-border-style;
  }
}


/**
 * Responsive Styles
 */
.menu-icon {
  display: none;

  position: fixed;
  top: 0;
  opacity: .7;
  width: 2.2rem;
  margin: .4rem 0 0 .4rem;
  cursor: pointer;

  img {
    @include border-radius($apa-border-radius);

    background: #632717 url(/sites/all/themes/apa/images/woodtop.png) repeat-x;
    border: 2px solid black;
    padding: 0 2px;
  }
}

#header .tel a {
  color: #f5ede0;
}

@include breakpoint($non-desktop) {
  #header {
    background: url(/sites/all/themes/apa/images/woodbar.png);
    min-height: 68px;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    z-index: 3;
    position: relative;
  }

  #menubar {
    display: none;
  }

  #logozone, #woodceiling #woodceiling-inner,
  #block-system-main-menu {
    width: 100%;
  }

  #main {
    margin-top: -2rem;
    width: $responsive-width;
  }
}

@include breakpoint(980px) {
  #logozone {
    height: 155px;

    // hide testimonial ribbon and both logo (differs by page)
    #ribbon, & > .apa-link, #logo {
      display: none;
    }

    div.namewrapper, h1.namewrapper {
      padding-top: 45px;
    }
  }
}

@include breakpoint(939px) {
  #header {
    padding-top: 3px;
  }
}

@include breakpoint($small) {

  #page-title, h2 {
    text-align: center;
  }

  .columnwrapper {
    .column {
      width: 100%;
      text-align: center;

      margin: .5rem 0 !important;

      // fix paragraph align issue in IE
      p {
        text-align: left;
      }
    }

    &.text {
      padding-bottom: 0;

      h2 {
        margin: 0.4em auto 0;
      }

      .column {
        text-align: initial;
      }
    }

    &.testimonials, &.trio {
      @include vertical-col-borders;
    }

    &.trio {
      @include fix-col-images;
    }
  }


}

@include breakpoint(666px min-width) {
  #header {
    display: block;
  }
}

@include breakpoint($mobile-menu) {
  // tighten up paragraph line height, its pretty large in most places
  p {
    line-height: 1.5 !important;
  }

  // double top bar size, facebook link center on next line
  #woodceiling {
    height: auto;
    position: relative;
    background-size: cover;

    #woodceiling-inner .facebook-find {
      position: static;
      text-align: center;
      margin-top: -8px;
    }
  }

  #logozone {
    height: auto;

    div.namewrapper, h1.namewrapper {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  // hide subtitle
  #mfm {
    display: none;
  }

  // switch to mobile menu
  .menu-icon {
    display: block;

  }
  #header {
    display: none;

    position: fixed;
    top: 2.4rem;
    left: 0.5rem;
    z-index: 5;
    width: 12rem;
    margin-top: 2px;
    padding: 0.3rem;

    background: black;
    border-radius: 10px;
    opacity: 0.85;

    .menu {
      text-align: left;
    }

    li {
      padding: 2px 0;
    }
  }
  #main {
    @include border-top-radius($apa-border-radius);

    margin-top: 0;

    .main-inner {
      padding-top: 1rem;
    }
  }

  // other mobile size styles

  #{$testimonials-page} {
    h1 {
      text-align: center;
    }
  }

}

@include breakpoint($mobile-small) {
  // large heading runs into each other when wrapped to two lines
  h1 {
    line-height: 1;
  }

  #woodceiling {
    #woodceiling-inner ul li {
      width: 100%;
      padding: 0;
    }
  }

  // make toast notifications full width at the bottom
  #toast-container {
    width: 100%;
    bottom: 0;
    left: 0;

    .toast {
      width: 100%;
      margin: 0;
      border-radius: 0;
    }
  }

}


/**
 * Page / Element Specific Styling
 */

// footer - all breakpoints
.apa-footer {
  @include breakpoint($non-desktop) {
    width: $responsive-width;
  }

  @include breakpoint($small) {
    padding: 0 1rem;
  }

  @include breakpoint(690px) {
    background-size: cover;

    .three-column {
      width: 100%;
      text-align: center;
    }
  }
}

// featured articles block
#block-views-featured-article-block {
  @include breakpoint($small) {
    h2 {
      text-align: center;
    }

    .field-name-node-link a {
      display: block;
      margin-left: 0;
    }
  }

  @include breakpoint(540px) {
    .view-featured-article .views-row {
      width: 100%;
      border-bottom: $vert-col-border-style;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.node-article {
  @include breakpoint($mobile-small) {
    .field-name-node-link a {
      display: block;
      margin-left: 0;
    }
  }
}

#{$maps-page} {
  iframe#googlemap {
    margin-bottom: 2rem;
  }

  @include breakpoint($small) {
    h1 {
      text-align: center;
    }
  }
}

#{$feedback-page} {
  h1 {
    text-align: center;
  }

  .webform-client-form input {
    width: 100%;
  }
}

#{$services-page} {

  @include breakpoint($small) {
    .trio .column > a {
      display: block;
    }

  }

  @include breakpoint($mobile-small) {
    .field-item h2 {
      margin-left: 0;
    }

    p.knowthis {
      font-size: 2rem;
      line-height: 1.1 !important;
    }

    #main ul {
      padding-left: 1.5rem;
      font-size: 1.3rem;
      line-height: 1.3;
      text-indent: 0;

      li {
        margin-bottom: 6px;
      }
    }

    .berry-and-staff {
      margin-top: 0;
    }

  }
}

#{$testimonials-page} {
  @include breakpoint($small) {
    p.nexttext, p.firsttext {
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px dashed white;
    }

    .hand {
      margin-top: 2rem;
    }
  }
}

#{$education-page} {
  .columnwrapper.text {
    @include fix-col-images;

    @include breakpoint($small) {
      @include vertical-col-borders;

      h2 a {
        text-align: center;
        display: inline-block;
      }
    }
  }

  @include breakpoint($small) {
    #block-system-main {
      h2 {
        text-align: center;
      }
    }
  }
}